<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="blog perso" />
    <title>Compte - blog perso</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    <header>
        @include('partials/navbar')
    </header>
    <main class=" d--flex f--direction--column items--center ">
        <h1 class="d--flex justify--center text--lg">Compte</h1>
        <section id="about" class="card px--1 w--5-6">
            <h2 class="card--title">Informations</h2>
            <article>
                <h3>Surnom</h3>
                <input value={{ auth.user.username }} disabled />
            </article>
            <article>
                <h3>email</h3>
                <input value={{ auth.user.email }} disabled />
            </article>
            <form action={{ route('auth.logout' )}} class="p--1"><button class="btn">Déconnexion</button></form>
        </section>
    </main>
</body>

</html>