<a href={{link}} class="col--12--xs col--5--sm col--3--xl">
    <article class="card">
        <h3 class="card--title">{{title}}</h3>
        <p class="card--body">{{description}}</p>
    </article>
</a>