<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur - blog perso</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body class="h--screen w--screen d--flex justify--center items--center f--direction--column">
    <h1 class="d--flex justify--center text--lg">Une erreur est survnue</h1>
    <p class="text--gray">Veuillez nous excuser pour la gène occasionner.</p>
    <p class="text--gray">Veuillez réessayer.</p>
    <hr class="d--flex justify--center border--1 border--red--light--9 border--solid w--3-6 my--1" />
    <a class="btn" href="/">retourné à l'accueil</a>
</body>

</html>