<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="blog perso" />
    <title>Compte - blog perso</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    <header>
        @include('partials/navbar')
    </header>
    <main class=" d--flex f--direction--column items--center ">
        <h1 class="d--flex justify--center text--lg">Rénitialiser mon mot de passe</h1>
        <p class="d--flex justify--center text--green">Votre changement de mot de passe à bien été pris en compte,
            veuillez vous reconnecter avec votre nouveu mot
            de passe .</p>
        <a class="btn--secondary text--white" href="/login">Se reconnecter</a>
    </main>
</body>

</html>